<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="{{ site.description }}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ site.title }}</title>
  <link rel="stylesheet" href="{{ site.baseurl }}/css/normalize.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/css/solo.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/css/syntax.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/css/rrssb.css">
  <script src="{{ site.baseurl }}/scripts/jquery.js"></script>
  <link rel="canonical" href="{{ site.url }}" />
  <link rel="icon" href="images/favicon.ico" type="image/x-icon"/>
</head>
<body>
  <article>
   <div class="container">
    <div class="navigation">
      <a target="_blank" href="{{ site.baseurl }}/docs/resume-montero.pdf">
         <img class="icon" src="{{ site.baseurl }}/images/resume.svg" alt="Resume"></a>
      <a target="_blank" href="https://www.linkedin.com/in/luciams">
         <img class="icon" src="https://cdn.jsdelivr.net/npm/simple-icons@latest/icons/linkedin.svg" alt="LinkedIn"></a>
      <a target="_blank" href="https://keybase.io/lmon">
         <img class="icon" src="https://cdn.jsdelivr.net/npm/simple-icons@latest/icons/keybase.svg" alt="Keybase"></a>
    </div>
    <h1><span style="font-weight:300">Lucia</span> <span style="font-weight:bold">Montero Sanchis</span></h1>
    <h2>M.Sc. Communication Systems</h2>
    <h2>Specialization in Data Analytics</h2>
    <img src="{{ site.baseurl }}/images/photo.jpg" alt="Lucia Montero" class="profilephoto">
    {{ content }}</div>
  </article>
<script src="{{ site.baseurl }}/scripts/rrssb.min.js"></script>
</body>
</html>
